/* Default styles */
* {
  box-sizing: border-box;
}

p {
  white-space: pre-line;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;

}

.image-section{
  flex: 3.5;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

.content-section{
  flex: 6.5;
  background-color: whitesmoke;
}

.intro-section, form {
  padding-left: 40px;
}

.button-section, .log-in-section {
  padding-left: 40px;
}

.intro-section {

  width: 90%;
  margin-top: 30px;
  font-size: 27px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 30px;
  box-shadow: 4px 4px 3px lightgray ;
}

.sign-up-form h2 {
  font-family: "Roboto", sans-serif;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input {
  width: 250px;
  height: 30px;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
}

input::placeholder {
  color: gray;
  font-style: italic;
  opacity: 0.4;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}




label {
  color: gray;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.button-section {
  margin-top: 30px;
}

.submit-button {
  width: 200px;
  height: 50px;
  background-color: #355949;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 4px 6px gray ;
}

.submit-button:active {
  /* Sposta leggermente in basso */
  transform: translateY(2px);

  /* Ombra più corta → effetto “schiacciato” */
  box-shadow: 0 0 0 gray;
}

.log-in-section {
  margin-top: 40px;
  font-size: 16px;
}

.log-in-section a {
  text-decoration: none;
  color: #355949;
  font-weight: bold;
}

.odin-container {
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.5); /* Trasparenza */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.odin-logo {
  max-width: 140px;
  max-height: 140px;
}

.odin-container > h1 {
  color: white;
  font-size: 64px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}












